/*
This file defines CSS variables for different color themes on the site.

There are currently two themes defined - 'main' and 'grey'. More themes can be added by defining new CSS rules.

To use a theme, add the 'theme' attribute to the <body> tag, e.g. <body theme="grey">
*/
@font-face {
  font-family: "bone";
  src: url("/media/nasalization-rg.otf") format("opentype");
}
:root {
  --font: Ubuntu, sans-serif;
  --background-filter: blur(3px) brightness(80%);
  --rounded: 15px;
  --rounded2: 40px;
}

body[theme="main"] {
  --background-filter: blur(3px) brightness(80%);
  /* --bg: #240063; */
  --bg: #000000;
  --alt: rgb(255, 0, 0);
  --button: #36028f;
  --border: #FF0000;
  --textcolor: #f8b1ec;
  --font: Ubuntu, sans-serif;
  .st0 {
    fill: rgb(255, 0, 0) !important;
  }
  .st1 {
    fill: rgb(206, 0, 0) !important;
  }
}

/* background: rgb(108,28,217);
background: linear-gradient(153deg, rgba(108,28,217,1) 0%, rgba(16,0,43,1) 93%, rgba(0,0,0,1) 99%); */
